@import "../assets/vendor/fonts/boxicons.css";
@import "../assets/css/daterangepicker.css";
@import "../assets/vendor/css/core.css";
@import "../assets/vendor/css/theme-default.css";
@import "../assets/css/demo.css";
